#!/bin/bash
source /etc/envvars

: ${LOG_LEVEL:="warn"}
COMMAND="consul-template -consul-addr=$CONSUL_ADDRESS:$CONSUL_PORT"

if [ -v $CT_ARGS ]; then 
  COMMAND+=" $CT_ARGS"
fi

cd /etc/consul-templates/
for TEMPLATE in *.tmpl.go;
do
  FILE_NAME=`echo $TEMPLATE | sed -e 's/\(.*\)\(.tmpl.go\)/\1/'`
  if [[ "$FILE_NAME" = "nginx.conf" ]]; then
    COMMAND+=" -template \"/etc/consul-templates/$TEMPLATE:/etc/nginx/$FILE_NAME:sv hup nginx\""
  elif [[ "$FILE_NAME" = "stream.conf" ]]; then
    COMMAND+=" -template \"/etc/consul-templates/$TEMPLATE:/etc/nginx/stream.d/$FILE_NAME:sv hup nginx\""
  else
    COMMAND+=" -template \"/etc/consul-templates/$TEMPLATE:/etc/nginx/conf.d/$FILE_NAME:sv hup nginx\""
  fi
done

COMMAND+=" -log-level $LOG_LEVEL"

eval $COMMAND