#!/bin/bash
source /etc/envvars && \
exec consul-template \
  -consul=${CONSUL_ADDRESS}:${CONSUL_PORT} \
  -template "/etc/consul-templates/app.conf.tmpl.go:/etc/nginx/conf.d/app.conf:sv hup nginx" \
  -template "/etc/consul-templates/stream.conf.tmpl.go:/etc/nginx/conf.d/stream.conf:sv hup nginx" \
  -template "/etc/consul-templates/nginx.conf.tmpl.go:/etc/nginx/nginx.conf:sv hup nginx" \
  -log-level "err"